.button {
  font-size: var(--font-size-4);
  --margin-bottom: 0;
  --baseline-multiplier: 2;
  --link-color: var(--color-white);
  --link-hover-text-decoration: none;
  --link-color-hover: var(--color-white);
  --button-bg-color: var(--color-accent);
  --transition-speed: 0.25s;
  --button-border-radius: 4px;
  --button-padding-y: var(--space-1_5);
  --button-padding-x: var(--space-4);
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  height: auto;
  font-weight: bold;
  font-family: "acumin-pro-condensed";
  padding-top: var(--button-padding-y, var(--space-2));
  padding-left: var(--button-padding-x, var(--space-4));
  padding-right: var(--button-padding-x, var(--space-4));
  padding-bottom: calc(var(--button-padding-y, var(--space-2)) + var(--space-1));
  margin-top: 0;
  border-radius: var(--button-border-radius);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform var(--transition-speed);
  background-color: var(--button-bg-color, var(--color-primary));
  text-transform: var(--button-text-transform, uppercase);
  z-index: 1;
  overflow: hidden;
  border: 3px solid var(--color-dark);

  &:hover {
    cursor: pointer;
    background-color: adjust-lightness(var(--color-accent), 1.1);
    transform: translateY(-2px);

    &::before {
      transform: translateX(0);
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-blue);
  }

  &:active {
    transform: translateY(2px);
  }

  &--block {
    display: block;
    width: 100%;
    margin-bottom: var(--space-2);
  }
}

.shopify-button {
  .shopify-buy__btn {
    @extend .button;
    @extend .button--gradient;
  }
}

.button--gradient {
  --button-border-radius: 8px;
  --button-padding-y: var(--space-1_5);
  --button-padding-x: var(--space-4);
  background-image: linear-gradient(to right, #d97058, #d36b5f, #cc6765, #c4646b, #bb616f);
  border: none;
}

.button-group {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: inline-flex;
}
