// Inspired by "modern CSS-Reset":
// https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--background-color, #fff);
}

/* Remove list styles on ul, ol elements with a class attribute
   Remove default padding */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

*, *::after, *::before {
    box-sizing: inherit;
  }

  * {
    font: inherit;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, hr {
    margin: 0;
    padding: 0;
    border: 0;
  }

  html {
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-bg, white);
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, main, form legend {
    display: block;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  button, input, textarea, select {
    margin: 0;
  }

  .btn, .form-control, .link, .reset { // reset style of buttons + form controls
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }

  select.form-control::-ms-expand {
    display: none; // hide Select default icon on IE
  }

  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }

  input::-ms-clear {
    display: none; // hide X icon in IE and Edge
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  img, video, svg {
    max-width: 100%;
  }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*, *::after, *::before {
    box-sizing: inherit;
  }

  * {
    font: inherit;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, hr {
    margin: 0;
    padding: 0;
    border: 0;
  }

  html {
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-bg, white);
  }

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, main, form legend {
    display: block;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  button, input, textarea, select {
    margin: 0;
  }

  .btn, .form-control, .link, .reset { // reset style of buttons + form controls
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
  }

  select.form-control::-ms-expand {
    display: none; // hide Select default icon on IE
  }

  textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
  }

  input::-ms-clear {
    display: none; // hide X icon in IE and Edge
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  img, video, svg {
    max-width: 100%;
  }

  /**
   * Prevent chrome autofill style
   */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  input[type="button"],
button {
  cursor: pointer;
}

/**
 * All Headings look the same
 */

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/**
 * 1. Reset link styles
 * 2. Sized links
 * 3. Remove the gray background on active links in IE 10.
 */

a {
  text-decoration: none; /* 1 */
  color: inherit; /* 1 */
  display: inline-block; /* 2 */
  background-color: transparent; /* 3 */
}

/**
 * No bullets anymore
 */

ol,
ul {
  list-style: none;
}
