<nav
  class="nav {{ if url != "/" }} nav--not-home{{ /if }}"
  x-data="navigation()"
  x-init="init()"
  x-ref="nav"
  :class="{
    'nav--hidden': !showNavbar,
    'nav--small': shrinkNavbar,
  }"
>
  <div class="nav__container">
    <div class="nav__logo">
      <a href="/">
        {{ partial:components/logo width="120" }}
      </a>
    </div>
    <ul class="nav__links">
      {{ nav:main }}
        <li class="nav__link{{ if is_current }} nav__link--active{{ /if }}">
          <a href="{{ url }}">{{ title }}</a>
        </li>
      {{ /nav:main }}
    </ul>
    <button
      class="burger-btn nav-toggle-btn"
      aria-label="Toggle Menu"
      :aria-expanded="isOpen ? 'true' : 'false'"
      @click.prevent="toggleMobileNav()"
      :class="{
        'burger-btn--state-b': isOpen
      }"
      >
      <i class="icon icon--close{{ if url != "/" }} icon--close--plus{{ /if }}" aria-hidden="true"></i>
    </button>
    <ul class="nav__links nav__links--socials">
      {{ social_media:social_media }}
        <li class="nav__link">
          <a href="{{ prefix }}{{ url }}">
            {{ svg src="/assets/social-media/logo-{type}.svg" }}
          </a>
        </li>
      {{ /social_media:social_media }}
    </ul>
    <div
      class="nav__mobile-menu"
      :class="{
        'nav__mobile-menu--active': isOpen
      }"
    >
      <div class="bg-wrapper">
        <div class="anim-container">
          <div class="mobile-menu__content">
            <ul class="nav__links">
              {{ nav:main }}
                <li class="nav__link">
                  <a href="{{ url }}"><span>{{ title }}</span></a>
                </li>
              {{ /nav:main }}
            </ul>
          </div>
          <div class="mobile-menu__footer">
            <div>
              <ul class="nav__links nav__links--socials">
                {{ social_media:social_media }}
                  <li class="nav__link">
                    <a href="{{ prefix }}{{ url }}">
                      {{ svg src="/assets/social-media/logo-{type}.svg" }}
                    </a>
                  </li>
                {{ /social_media:social_media }}
              </ul>
              <ul class="nav__links nav__links--legal">
                {{ nav:footer }}
                  <li class="nav__link">
                    <a href="{{ url }}"><span>{{ title }}</span></a>
                  </li>
                {{ /nav:footer }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
