{{# The collection content block with optional title. #}}
  <section class="collection-container">
    <div class="md:col-start-3 md:col-span-8">
      <div class="w-full flex flex-col items-center px-3">
        {{ partial:typography/h2 :content="block:title" }}

        {{ block:collection }}
          <article class="flex flex-col shadow my-4">
            <div class="text-component">
              {{ tags limit="1" }}
                <a href="#" class="text-blue-700 text-sm font-bold pb-4">
                  #{{ title }}
                </a>
              {{ /tags}}
              <a href="{{ url }}" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ title }}</a>
              <p href="#" class="text-sm pb-3">
                Published on {{ date }}
              </p>
              <a href="{{ url }}" class="pb-6">
                {{ page_builder }}
                  {{ if type == "teaser" }}
                    {{ bard }}
                      {{ text }}
                    {{ /bard }}
                  {{ /if }}
                {{ /page_builder }}
              </a>
              <a href="{{ url }}" class="uppercase text-gray-800 hover:text-black">Continue Reading <ion-icon name="arrow-forward-outline"></ion-icon>
              </a>
            </div>
          </article>
        {{ /block:collection }}

      </div>
    </div>
  </section>
